/**
 * DIN Next W01.
 */
@font-face {
  font-family: "din-next-w01";
  src: url("../fonts/din-next-w01/din-next-w01-ultra-light/din-next-w01-ultra-light.eot");
  src: url("../fonts/din-next-w01/din-next-w01-ultra-light/din-next-w01-ultra-light.eot?#iefix") format("embedded-opentype"), url("../fonts/din-next-w01/din-next-w01-ultra-light/din-next-w01-ultra-light.woff") format("woff"), url("../fonts/din-next-w01/din-next-w01-ultra-light/din-next-w01-ultra-light.ttf") format("truetype"), url("../fonts/din-next-w01/din-next-w01-ultra-light/din-next-w01-ultra-light.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "din-next-w01";
  src: url("../fonts/din-next-w01/din-next-w01-ultra-light-italic/din-next-w01-ultra-light-italic.eot");
  src: url("../fonts/din-next-w01/din-next-w01-ultra-light-italic/din-next-w01-ultra-light-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/din-next-w01/din-next-w01-ultra-light-italic/din-next-w01-ultra-light-italic.woff") format("woff"), url("../fonts/din-next-w01/din-next-w01-ultra-light-italic/din-next-w01-ultra-light-italic.ttf") format("truetype"), url("../fonts/din-next-w01/din-next-w01-ultra-light-italic/din-next-w01-ultra-light-italic.svg") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "din-next-w01";
  src: url("../fonts/din-next-w01/din-next-w01-regular/din-next-w01-regular.eot");
  src: url("../fonts/din-next-w01/din-next-w01-regular/din-next-w01-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/din-next-w01/din-next-w01-regular/din-next-w01-regular.woff") format("woff"), url("../fonts/din-next-w01/din-next-w01-regular/din-next-w01-regular.ttf") format("truetype"), url("../fonts/din-next-w01/din-next-w01-regular/din-next-w01-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "din-next-w01";
  src: url("../fonts/din-next-w01/din-next-w01-regular-italic/din-next-w01-regular-italic.eot");
  src: url("../fonts/din-next-w01/din-next-w01-regular-italic/din-next-w01-regular-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/din-next-w01/din-next-w01-regular-italic/din-next-w01-regular-italic.woff") format("woff"), url("../fonts/din-next-w01/din-next-w01-regular-italic/din-next-w01-regular-italic.ttf") format("truetype"), url("../fonts/din-next-w01/din-next-w01-regular-italic/din-next-w01-regular-italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "din-next-w01";
  src: url("../fonts/din-next-w01/din-next-w01-bold/din-next-w01-bold.eot");
  src: url("../fonts/din-next-w01/din-next-w01-bold/din-next-w01-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/din-next-w01/din-next-w01-bold/din-next-w01-bold.woff") format("woff"), url("../fonts/din-next-w01/din-next-w01-bold/din-next-w01-bold.ttf") format("truetype"), url("../fonts/din-next-w01/din-next-w01-bold/din-next-w01-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "din-next-w01";
  src: url("../fonts/din-next-w01/din-next-w01-bold-italic/din-next-w01-bold-italic.eot");
  src: url("../fonts/din-next-w01/din-next-w01-bold-italic/din-next-w01-bold-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/din-next-w01/din-next-w01-bold-italic/din-next-w01-bold-italic.woff") format("woff"), url("../fonts/din-next-w01/din-next-w01-bold-italic/din-next-w01-bold-italic.ttf") format("truetype"), url("../fonts/din-next-w01/din-next-w01-bold-italic/din-next-w01-bold-italic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}

/**
 * Chevin.
 */
@font-face {
  font-family: 'chevin-thin';
  src: url('../fonts/chevin/chevin-thin/chevin-thin.eot');
  src: url('../fonts/chevin/chevin-thin/chevin-thin.eot?#iefix') format('embedded-opentype'), url('../fonts/chevin/chevin-thin/chevin-thin.woff') format('woff'), url('../fonts/chevin/chevin-thin/chevin-thin.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'chevin-thin';
  src: url('../fonts/chevin/chevin-thin-italic/chevin-thin-italic.eot');
  src: url('../fonts/chevin/chevin-thin-italic/chevin-thin-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/chevin/chevin-thin-italic/chevin-thin-italic.woff') format('woff'), url('../fonts/chevin/chevin-thin-italic/chevin-thin-italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'chevin-light';
  src: url('../fonts/chevin/chevin-light/chevin-light.eot');
  src: url('../fonts/chevin/chevin-light/chevin-light.eot?#iefix') format('embedded-opentype'), url('../fonts/chevin/chevin-light/chevin-light.woff') format('woff'), url('../fonts/chevin/chevin-light/chevin-light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'chevin-light';
  src: url('../fonts/chevin/chevin-light-italic/chevin-light-italic.eot');
  src: url('../fonts/chevin/chevin-light-italic/chevin-light-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/chevin/chevin-light-italic/chevin-light-italic.woff') format('woff'), url('../fonts/chevin/chevin-light-italic/chevin-light-italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'chevin-medium';
  src: url('../fonts/chevin/chevin-medium/chevin-medium.eot');
  src: url('../fonts/chevin/chevin-medium/chevin-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/chevin/chevin-medium/chevin-medium.woff') format('woff'), url('../fonts/chevin/chevin-medium/chevin-medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'chevin-medium';
  src: url('../fonts/chevin/chevin-medium-italic/chevin-medium-italic.eot');
  src: url('../fonts/chevin/chevin-medium-italic/chevin-medium-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/chevin/chevin-medium-italic/chevin-medium-italic.woff') format('woff'), url('../fonts/chevin/chevin-medium-italic/chevin-medium-italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'chevin-demi-bold';
  src: url('../fonts/chevin/chevin-demibold/chevin-demibold.eot');
  src: url('../fonts/chevin/chevin-demibold/chevin-demibold.eot?#iefix') format('embedded-opentype'), url('../fonts/chevin/chevin-demibold/chevin-demibold.woff') format('woff'), url('../fonts/chevin/chevin-demibold/chevin-demibold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'chevin-demi-bold';
  src: url('../fonts/chevin/chevin-demibold-italic/chevin-demibold-italic.eot');
  src: url('../fonts/chevin/chevin-demibold-italic/chevin-demibold-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/chevin/chevin-demibold-italic/chevin-demibold-italic.woff') format('woff'), url('../fonts/chevin/chevin-demibold-italic/chevin-demibold-italic.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'chevin-bold';
  src: url('../fonts/chevin/chevin-bold/chevin-bold.eot');
  src: url('../fonts/chevin/chevin-bold/chevin-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/chevin/chevin-bold/chevin-bold.woff') format('woff'), url('../fonts/chevin/chevin-bold/chevin-bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'chevin-bold';
  src: url('../fonts/chevin/chevin-bold-italic/chevin-bold-italic.eot');
  src: url('../fonts/chevin/chevin-bold-italic/chevin-bold-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/chevin/chevin-bold-italic/chevin-bold-italic.woff') format('woff'), url('../fonts/chevin/chevin-bold-italic/chevin-bold-italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'chevin-extra-bold';
  src: url('../fonts/chevin/chevin-extrabold/chevin-extrabold.eot');
  src: url('../fonts/chevin/chevin-extrabold/chevin-extrabold.eot?#iefix') format('embedded-opentype'), url('../fonts/chevin/chevin-extrabold/chevin-extrabold.woff') format('woff'), url('../fonts/chevin/chevin-extrabold/chevin-extrabold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'chevin-extra-bold';
  src: url('../fonts/chevin/chevin-extrabold-italic/chevin-extrabold-italic.eot');
  src: url('../fonts/chevin/chevin-extrabold-italic/chevin-extrabold-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/chevin/chevin-extrabold-italic/chevin-extrabold-italic.woff') format('woff'), url('../fonts/chevin/chevin-extrabold-italic/chevin-extrabold-italic.ttf') format('truetype');
  font-style: italic;
}
